{% set day = expiration_date|date('j') %}
{% set month = expiration_date|date('F') %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ 'subject'|trans({}, 'restart_password') }}</title>
</head>
<body style="font-family: Arial, sans-serif; background-color: #282828; margin: 0; padding: 0;">
<table class="container" role="presentation">
    <tr>
        <td class="main-header">
            <h1>{{ 'instructions_title'|trans({}, 'restart_password') }}</h1>
            <img src="#" alt="{{ company_name }}">
        </td>
    </tr>
    <tr>
        <td class="content">
            <table class="logo" role="presentation">
                <tr>
                    <td>
                        <img src="#" alt="{{ company_name }}">
                    </td>
                </tr>
            </table>
            <p class="label"><span>|</span>{{ 'greeting'|trans({'{user}': username}, 'restart_password') }}</p>
            <p>{{ 'reset_instructions'|trans({'{company_name}': company_name}, 'restart_password') }}</p>
            <div class="button-container">
                <a href="#" class="button">{{ 'reset_button_text'|trans({}, 'restart_password') }}</a>
            </div>

            <p class="label">
                <span>|</span>
                {{ 'valid_date'|trans({}, 'months') }} {{ day }} {{ ('months.' ~ month)|trans({}, 'months') }}
            </p>
            <p>
                {{ 'button_not_working'|trans({}, 'restart_password') }}
                <a href="{{ url_reset }}">{{ url_reset }}</a>
            </p>
            <p class="label"><span>|</span>
                {{ 'thank_you'|trans({}, 'restart_password') }}
                <br>
                {{ 'Team'|trans({'{company_name}': company_name}, 'restart_password') }}
            </p>
        </td>
    </tr>
    <tr>
        <td class="footer">
            <p>{{ 'need_help'|trans({}, 'restart_password') }}
                <a href="{{ help_link }}">
                    {{ help_link }}
                </a>
            </p>
            <p>{{ 'copyright'|trans({'{company_name}': company_name}, 'restart_password') }}</p>
            <p><a href="{{ terms_of_service }}">{{ 'terms_of_service'|trans({}, 'restart_password') }}</a> | <a href="{{ privacy_policy }}">{{ 'privacy_policy'|trans({}, 'restart_password') }}</a></p>
        </td>
    </tr>
</table>
</body>
</html>
